@import "./variables.scss";
@import "./normalize.scss";

#sidebar {
  background: linear-gradient(180deg, $navBar, $navBarDark);
  height: 100%;
  position: fixed;
  top: 0;
  color: $navText;
  padding: 0.5em;
  width: 160px;
}

.nav-button {
  margin: 1em;
  color: $navText;
  font-weight: 500;
  text-decoration: none;
  display: block;
  &.active {
    color: $blue1;
  }
  &:hover {
    font-weight: 700;
  }
}

html {
  background-color: $grey;
}

.outer-main {
  background-color: $outerMainBg;
}

.inner-main {
  margin: 0 auto;
  margin-top: 2em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 760px;
  background-color: $mainBackgrond;
  box-shadow: -5px 5px 5px rgb(90, 89, 89);
}

.main-header {
  font-family: $fontHeader;
  font-size: 1.5em;

  text-align: center;
  align-items: center;
  line-height: 2;
  border-bottom: 2px solid $grey;
}

.form-main {
  width: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  padding: 1em;
  font-family: $fontMain;
}

.inner-box {
  display: inline-block;
}
